<h1>图书列表</h1>
<ul>
    <a href="{% url 'home' %}">返回首页</a>
    
    <!-- 只有管理员才能看到添加新图书的链接 -->
    {% if user.is_staff %}
    <a href="{% url 'add_book' %}">添加新图书</a>
    {% endif %}

    {% for book in books %}
        <li>
            <strong>{{ book.title }}</strong> - {{ book.author }} - 库存：{{ book.stock }} <br>
            出版日期：{{ book.published_date }} <br>
            出版社:{{ book.publisher }} <br>
            ISBN：{{ book.isbn }} <br>
            类别：{{ book.get_category_display }} <br>
            描述：{{ book.description|truncatewords:10 }} <br>

            <!-- 管理员显示的按钮 -->
            {% if user.is_staff %}
                <a href="{% url 'edit_book' book.pk %}">编辑</a> |
                <a href="{% url 'delete_book' book.pk %}">删除</a> |
            {% endif %}

            <!-- 判断当前用户是否已经借阅过这本书 -->
            {% if user.is_authenticated %}
                {% if book.id in loaned_books %}
                    <!-- 如果该用户借了书，显示还书按钮 -->
                    <a href="{% url 'return_book' book.id %}">还书</a>
                {% elif book.stock > 0 %}
                    <!-- 如果库存大于 0 且用户没有借书，则显示借书按钮 -->
                    <a href="{% url 'borrow_book' book.id %}">借阅</a>
                {% else %}
                    <!-- 如果库存不足，显示库存不足 -->
                    <span>库存不足</span>
                {% endif %}
            {% endif %}

        </li>
    {% endfor %}
</ul>
